* {
  all: unset;
  font-family: 'SF Mono Pro Display';
  font-weight: 500;
}

.bar {
  background-color: #241e3d;
  color: #c0bbcb;
}

label {
  margin: 0 8px 0 0;
}

.mem {
  color: #63ee92;
}

.cpu {
  color: #fe719e;
}

.circular-progress {
  background: #3d3552;
}

.dot {
  margin-left: 6px;
  font-size: 9px;
}
