# exclude everything by default
/*

# include required files
!.gitignore
!README.md
!Makefile
!install

# include profiles
!xprofile
!zshrc
!vimrc
!aliasrc
!xbindkeysrc

# vim
!vim

# include configs
!rofi
!kitty
!picom
!lightdm

# nnn config
!nnn
nnn/*
!nnn/nnnrc
!nnn/plugins
