# exclude everything by default
/*

# include required files
!.gitignore
!README.md
!Makefile
!install

# include profiles
!xprofile
!zshrc
!vimrc
!aliasrc
!xbindkeysrc

# autostart
!autostart.d
autostart.d/.*

# vim
!vim

# vscodium
!VSCodium
VSCodium/*
!VSCodium/User
VSCodium/User/*
!VSCodium/User/keybindings.json
!VSCodium/User/settings.json
!VSCodium/User/snippets

# include configs
!rofi
!kitty
!picom
!lightdm

# nnn config
!nnn
nnn/*
!nnn/nnnrc
!nnn/plugins
